<h1>New Quote!</h1>

<%= form_for @quote do |f| %>
    <%= f.text_field(:body, {placeholder: "Enter quote!"}) %>
    <%= f.text_field(:author, {placeholder: "Author"}) %>
    <%= f.submit "New" %>
<% end %>